<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdminLTE 3 | Invoice Print</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../dist/css/adminlte.min.css"> 
    <style>
        .bg-thead {
            text-align: left;
            background: #70b599;
            color: #000
        }

        .th-font-color {
            color: white
        }
    </style>
</head>
<body>
<div class="wrapper">
  <!-- Main content -->
   <section class="content">
       <div class="container-fluid">
            <div class="row">
                <div class="col-12">        
                    <!-- Main content -->
                        <div class="invoice p-3 mb-3">
                        <!-- title row -->
                            <div class="row">
                                    <div class="col-12">
                                        <h4>
                                            <i class="fas fa-globe"></i> ใบยินยอมปฎิบัติงานล่วงเวลา่ / วันหยุด
                                            <small class="float-right">Date: 2/10/2014</small>
                                        </h4>
                                    </div>
                                <!-- /.col -->
                            </div>
                        </div>
                    <!-- info row -->
                        <div class="row invoice-info">
                            <div class="col-sm-4 invoice-col">
                            <b>โรงงงาน :</b> HO01 สำนักงานใหญ่<br>                                     
                            <b>เลขที่ : </b> HO01D220270<br>
                            <b>Revise :</b> 3<br>
                            <br>
                            <b>แผนก/หน่วยงาน :</b> แผนกIT (S6100)<br>
                            <b>แท่นผลิต :</b> สำนักงาน
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4 invoice-col">
                            <b>สั่งทำ OT</b><br>
                            <b>วันที่ :</b> 23-07-2022<br>
                            <b>เวลา :</b> 17.15 - 19.15 <br>
                            <b>รวม :</b> 02:00 ชั่วโมง<br>
                            <b>จำนวนพนักงาน OT :</b> 2<br>
                            <b>รวมเป็น OT :</b> 4 ชั่วโมง
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4 invoice-col">
                            <b>รายละเอียดงานที่สั่งทำ:</b> <br>
                            <br>
                            <b>ผู้รับผิดชอบหน่วยงาน :</b>นายสุนทร อักษร                  
                            </div>
                            <!-- /.col -->
                        </div>
                    <!-- /.row -->
                    <br>
                    <br>
                    
                </div>
            </div>
              <!-- Table row -->
            <div class="row">
                <div class="col-12 table-responsive">
                    <table class="table table-striped">
                        <thead class="bg-thead text-center th-font-color">
                            <tr>
                            <th>รหัสพนักงาน</th>
                            <th>ชื่อ</th>
                            <th>เวลาเริ่ม</th>
                            <th>เวลาสิ้นสุด</th>
                            <th>OT(HR)</th>
                            <th>ลายเซ็น</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td>C014486</td>
                            <td>นางสาวศศิธร จิตติประวัติ</td>
                            <td>17:15:00</td>
                            <td>19:15:00</td>
                            <td>02:00:00</td>
                            <td></td>
                            </tr>
                            <tr>
                            <td>C014854</td>
                            <td>นางสาวศิริรัตน์ อัยราคม</td>
                            <td>17:15:00</td>
                            <td>19:15:00</td>
                            <td>02:00:00</td>
                            <td></td>
                            </tr>                   
                        </tbody>
                    </table>
                </div>
                <!-- /.col -->
            </div>
              <!-- /.row -->
              <br>
              <br>
            <div class="container-fluid">
                <div class="row">               
                        
                        <p>กรณีใช้เกิน ทั้งเวลาและจำนวนคน หรือมีการอนุมัติหลัง 17.00 ของวันที่สั่งทำ OT ให้พิมพ์เอกสารมาต่างหาก เกินเวลาขออนุมัติ</p>
                        <br />
                            ................................................................................................................................................................................................................................<br />
                            <br />
                            ................................................................................................................................................................................................................................<br />
                            <br />
                            ................................................................................................................................................................................................................................<br />
                            <br />
                            ................................................................................................................................................................................................................................<br />
                            <br />
                            ................................................................................................................................................................................................................................<br /> 
                            <br />                 
                </div>
                <div class="row justify-content-around">
                        <div class="col-4 text-center">
                            <b>ผ้รับผิดชอบ</b> <br>                                     
                            <br>
                            <br>
                            <b>...........................................................</b>
                        </div>
                        <!-- /.col -->
                        <div class="col-4 text-center">
                            <b>ผู้จัดการ</b><br>
                            <br>
                            <br>
                            <b>...........................................................</b>               
                        </div>               
                        <!-- /.col -->
                </div>
            </div>
        </div>
   </section>        
  <!-- /.content -->
</div>
<!-- ./wrapper -->
<!-- Page specific script -->
<script>
  window.addEventListener("load", window.print());
</script>
</body>
</html>
