@{
    ViewData["Title"] = "Home Page";
}
@await Component.InvokeAsync("Notyf")
<div class="card">
        <div class="card-header">
            <h1 class="card-title">DashBoard (OT)</h1>
                <br>
                <br>                        
                    <div class="col-lg-3 col-6">
                            <!-- small card -->
                        <div class="small-box bg-success">
                            <div class="inner">
                                <h3>สร้างเอกสาร</h3>

                                <p>Create</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-file-pdf-o"></i>
                            </div>
                            <a href="#" class="small-box-footer">
                                เลือกทำรายการ <i class="fas fa-arrow-circle-right"></i>
                            </a>
                        </div>
                    </div>         
              <!-- /.card-body -->
        </div>
</div>